/* http://vilaboim.github.io/grido v0.0.1 | MIT License | github.com/vilaboim/grido */
@charset "utf-8";
.grido,
.grido--inline {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.grido {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.grido--inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.g__is--1 {
  width: 8.333333333333334%;
}
.g__is--2 {
  width: 16.666666666666668%;
}
.g__is--3 {
  width: 25%;
}
.g__is--4 {
  width: 33.333333333333336%;
}
.g__is--5 {
  width: 41.66666666666667%;
}
.g__is--6 {
  width: 50%;
}
.g__is--7 {
  width: 58.333333333333336%;
}
.g__is--8 {
  width: 66.66666666666667%;
}
.g__is--9 {
  width: 75%;
}
.g__is--10 {
  width: 83.33333333333334%;
}
.g__is--11 {
  width: 91.66666666666667%;
}
.g__is--12 {
  width: 100%;
}
.g__w-gutter > * {
  padding-left: 15px;
  padding-right: 15px;
}
.g__no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.g__wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.g__jc-start {
  -webkit-justify-content: flex-start;
  -ms-flex-line-pack: start;
  justify-content: flex-start;
}
.g__jc-end {
  -webkit-justify-content: flex-end;
  -ms-flex-line-pack: end;
  justify-content: flex-end;
}
.g__jc-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.g__jc-around {
  -webkit-justify-content: space-around;
  -ms-flex-line-pack: distribute;
  justify-content: space-around;
}
.g__jc-between {
  -webkit-justify-content: space-between;
  -ms-flex-line-pack: justify;
  justify-content: space-between;
}
.g__ai-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.g__ai-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.g__ai-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.g__ai-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.g__ai-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
