@import "../utilities/flexbox"

$gutter = 15px

.grido
    flex()
    flex-wrap(wrap)
    width 100%

    &--w-gutter
        > *
            padding-left $gutter
            padding-right $gutter

    &--no-wrap
        flex-wrap(nowrap)

    &--jc-around
        flex-justify(space-around)

    &--jc-between
        flex-justify(space-between)

    &--jc-center
        flex-justify(center)

    &--jc-end
        flex-justify(flex-end)

    &--ai-center
        flex-align-items(center)

    &--ai-end
        flex-align-items(flex-end)

+prefix-classes('Grido__')
    .just-around
        flex-justify(space-around)

    .vertAlign-center
        flex-align-items(center)

    for num in 1..12
        .is--{num}
            width ( 100% / 12 ) * num
