@import "../utilities/mixins"

$gutter = 15px

.grido
.grido--inline
    flex-wrap(wrap)
    width 100%

.grido
    flex()

.grido--inline
    flex(inline)

+prefix-classes("g__")
    for num in 1..12
        .is--{num}
            width ( 100% / 12 ) * num

    .w-gutter
        > *
            padding-left $gutter
            padding-right $gutter

    /**
     * Wrap
     */
    .no-wrap
        flex-wrap(nowrap)

    .wrap-reverse
        flex-wrap(wrap-reverse)

    /**
     * Justify-content
     */
    .jc-start
        flex-justify(flex-start)

    .jc-end
        flex-justify(flex-end)

    .jc-center
        flex-justify(center)

    .jc-around
        flex-justify(space-around)

    .jc-between
        flex-justify(space-between)

    /**
     * Align-items
     */
    .ai-start
        flex-align-items(flex-start)

    .ai-end
        flex-align-items(flex-end)

    .ai-center
        flex-align-items(center)

    .ai-end
        flex-align-items(flex-end)

    .ai-stretch
        flex-align-items(stretch)
