@import "variables"

*[class^="g__col"]
  flex-grow 0
  flex-shrink 0
  min-height 1px
  padding ($gap / 2)

  .g--nowrap > &
    flex-shrink 1

  .g__no-gap &
    padding 0

for num in 1..12
  .g__col--{num}
    flex-basis percentage(num / 12)
    width percentage(num / 12 )
