.grido
  box-sizing border-box
  display flex
  flex-wrap wrap
  width auto

.grido--inline
  @extend .grido
  display inline-flex

+prefix-classes("g--")
  // Direction
  .reverse
    flex-direction row-reverse

  .vertical
    flex-direction column

    &.reverse
      flex-direction column-reverse

  // No wrap
  .nowrap
    flex-wrap nowrap

  .wrap-reverse
    flex-wrap wrap-reverse

    // Justify-content
  .justify-start
    justify-content flex-start

  .justify-end
    justify-content flex-end

  .justify-center
    justify-content center

  .justify-around
    justify-content space-around

  .justify-between
    justify-content space-between

  .justify-evenly
    justify-content space-evenly

  // Align-items
  .align-items-start
    align-items flex-start

  .align-items-end
    align-items flex-end

  .align-items-center
    align-items center

  .align-items-baseline
    align-items baseline

  .align-items-end
    align-items flex-end

  .align-items-stretch
    align-items stretch
