.grido
.grido--inline
  flex-wrap wrap
  width 100%

.grido
  display flex

.grido--inline
  display flex-inline

+prefix-classes("g__")
  /**
    * Wrap
    */
  .no-wrap
    flex-wrap nowrap

  .wrap-reverse
    flex-wrap wrap-reverse

  /**
    * Justify-content
    */
  .jc-start
    justify-content flex-start

  .jc-end
    justify-content flex-end

  .jc-center
    justify-content center

  .jc-around
    justify-content space-around

  .jc-between
    justify-content space-between

  /**
    * Align-items
    */
  .ai-start
    align-items flex-start

  .ai-end
    align-items flex-end

  .ai-center
    align-items center

  .ai-end
    align-items flex-end

  .ai-stretch
    align-items stretch
