.grido
  box-sizing border-box
  display flex
  flex-wrap wrap
  width auto

.grido--inline
  @extend .grido
  display inline-flex

+prefix-classes("g--")
  // Direction
  .reverse
    flex-direction row-reverse

  .vertical
    flex-direction column

    &.reverse
      flex-direction column-reverse

  // No wrap
  .nowrap
    flex-wrap nowrap

  .wrap-reverse
    flex-wrap wrap-reverse

  // Justify-content
  .jc-start
    justify-content flex-start

  .jc-end
    justify-content flex-end

  .jc-center
    justify-content center

  .jc-around
    justify-content space-around

  .jc-between
    justify-content space-between

  // Align-items
  .ai-start
    align-items flex-start

  .ai-end
    align-items flex-end

  .ai-center
    align-items center

  .ai-end
    align-items flex-end

  .ai-stretch
    align-items stretch
