html {
  font: 400 10px/1.5 sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.section {
  margin-bottom: 30px;
}

.section__title {
  font-size: 1.4rem;
  text-indent: 7.5px;
}

.card {
  border: 2px #333 solid;
  border-radius: 4px;
  color: #333;
  min-height: 50px;
}

.card--big {
  min-height: 100px;
}
